/* Nwitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}

.creator {
  display: flex;
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
  align-items: center;
  border-bottom: 2px solid rgb(202, 202, 202);
}
.creator label {
  font-size: 16px;
  font-weight: bold;
}
.creator_img {
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid rgb(170, 169, 169);
  border-radius: 20px;
}

.content {
  width: 250px;
}
.content h4 {
  font-size: 14px;
  line-height: 1.2rem;
}
.content img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 10%;
}

.nweet__actions {
  position: absolute;
  right: 20px;
  top: 25px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

.like {
  position: relative;
  left: 250px;
  bottom: -10px;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
.like img {
  position: absolute;
  left: 5px;
  bottom: 20px;
  width: 20px;
  height: 20px;
}
.like label {
  position: absolute;
  left: 5px;
  bottom: 3px;
  width: 20px;
  font-size: 12px;
  text-align: center;
}
