/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profilePhoto__label {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.profilePhoto__label span {
  margin-right: 10px;
  font-size: 12px;
}

.profilePhoto__attachment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profilePhoto__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.profileName_container {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.profileEdit_btn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 20px;
  border-color: black;
  background-color: #04aaff;
}

.logOut {
  margin-top: 50px;
}
